.borderbox {
  padding: 2%;
  margin: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 16px;
  padding-left: 20px;
  width: 100%;
}
.leftcol2 {
  margin-top: 40px;
}
.p2 {
  color: #8a8a8a;
}
