.borderbox {
  padding: 5%;
  margin: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 16px;
  width: 100%;
  height: 220px;
}
.borderbox2 {
  padding: 2%;
  margin: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 16px;
  padding-left: 20px;
  width: 100%;
  display: flex;
  justify-content: start;
}
.rightcol1 {
  padding-top: 10%;
}
.btnbuyer {
  background-color: #7126b5;
  border-radius: 20px;
  width: 100%;
}
.p2 {
  color: #8a8a8a;
}
