.menu {
  padding: 16px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.item {
  margin: 8px 0;
}

.item:active {
  color: black;
  background-color: white;
}
