/* AWAL NAVBAR SEARCH */
.btnsearch {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none !important;
  cursor: pointer;
}
.iconsearch {
  width: 24px;
  height: 24px;
  color: #8a8a8a;
  align-items: center;
}
.search {
  display: flex;
  margin-left: 24px;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  gap: 16px;
  width: 444px;
  height: 48px;
  left: 260px;
  top: 18px;
  background: #eeeeee;
  border-radius: 16px;
  border: none;
}
.formsearch {
  background: transparent;
  flex: 1;
  border: none;
  outline: none;
  box-shadow: none;
}
.formsearch:hover {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  color: #8a8a8a;
}
/* AKHIR NAVBAR SEARCH */
