.titleNavbar {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-right: 18%;
}

.logo {
    width: 100px;
    height: 34px;
    background: #4B1979;
    margin-left: 8vw;
}

.navbar {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px
    rgba(0, 0, 0, 0.15);
    height: 10vh;
}

@media only screen and (max-width: 992px) {
    .titleNavbar {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        font-weight: 500;
        margin-right: 25%;
    }
  }