.titleNavbar {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.logo {
    width: 100px;
    height: 34px;
    background: #4B1979;
    position: absolute;
    margin-left: 8vw;
}

.navbar {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px
    rgba(0, 0, 0, 0.15);
    height: 10vh;
}

.backButton {
    display: none;
}

@media only screen and (max-width: 992px) {
    .titleNavbar {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        font-weight: 500;
        margin-right: 0;
        text-align: center;
    }

    .logo {
        display: none;
    }

    .backButton {
        height: 50px;
        width: 50px;
        align-items: center;
        background-color: #ffffff;
        border: 0px;
        margin-right: 2vw;
    }
  }