.card {
  padding: 8px;
  /* width: 165px; */
  border: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.card-img {
  border-radius: 4px;
}

.card-title {
  font-size: 14px;
}

.card-subtitle {
  font-size: 10px;
  color: #8a8a8a;
}

.card-text {
  font-size: 14px;
}
