.account-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.image {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  border: 1px solid gray;
}

.name {
  font-size: 14px;
  font-weight: 500;
}

.city {
  font-weight: 400;
  font-size: 10px;
}
