.button-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px dashed #d0d0d0;
  border-radius: 4px;
  height: 100%;
  width: 100%;
}

.button-card > p {
  font-weight: 400;
  font-size: 12px;
  color: #8a8a8a;
}
