.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 16px;
  gap: 8px;
  border-radius: 12px;
  height: 48px;
}

.primary {
  background: #7126b5;
}

.buttonLarge {
  width: 40vw;
  height: 6vh;
  border-radius: 16px;
  padding: 12px 24px;
  margin-top: 2vh;
}

.backButton {
  height: 50px;
  width: 50px;
  align-items: center;
  background-color: #ffffff;
  border: 0px;
}

@media only screen and (max-width: 992px) {
  .backButton {
    display: none;
  }

  .buttonLarge {
    width: 95vw;
    height: 7vh;
    border-radius: 16px;
    padding: 12px 24px;
    margin-top: 2vh;
  }

}