.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 14px 16px;
  gap: 8px;
  border-radius: 12px;
  height: 48px;
  border: none;
  box-shadow: none !important;
}

.btn-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 16px;
  gap: 8px;
  border-radius: 12px;
  height: 48px;
  color: #7126b5;
  border: none;
  box-shadow: none !important;
}

.btn:active {
  background: #7126b5;
  border: 1px solid #7126b5;
  box-shadow: none;
}
.btn:hover {
  background: #7126b5;
  border: 1px solid #7126b5;
  box-shadow: none;
}
.btn:focus {
  background: #7126b5;
  border: 1px solid #7126b5;
  box-shadow: none;
}
.btn:checked {
  border: 1px solid #7126b5;
  box-shadow: none;
}

.btn-check:active {
  background: #7126b5;
}

.primary {
  /* color: #7126b5; */
  background: #7126b5;
}

.outline {
  background: #ffffff;
  color: #7126b5;
}

.light {
  color: #7126b5;
  background: #e2d4f0;
  border: 1px solid #e2d4f0;
}

.outlined {
  color: #7126b5;
  background: white;
  border: 1px solid #7126b5;
}

.buttonLarge {
  width: 40vw;
  height: 7vh;
  border-radius: 16px;
  padding: 12px 24px;
  margin-top: 2vh;
}

.buttonMedium {
  width: 19vw;
  height: 7vh;
  border-radius: 16px;
  padding: 12px 24px;
  margin-top: 2vh;
  margin: 0 10px 0 10px;
}

.buttonMediumOutline {
  width: 19vw;
  height: 7vh;
  border-radius: 16px;
  padding: 12px 24px;
  margin-top: 2vh;
}

.buttonCard {
  width: max-content;
  height: 42px;
  border-radius: 16px;
  padding: 8px 24px;
}

.buttonModal {
  width: 296px;
  height: 40px;
  border-radius: 16px;
  padding: 8px 24px;
  margin-top: 1vh;
  margin-left: 1.5vw;
}

.backButton {
  height: 50px;
  width: 50px;
  align-items: center;
  background-color: #ffffff;
  border: 0px;
  margin-right: 2vw;
  position: absolute;
}

@media only screen and (max-width: 992px) {
  .backButton {
    display: none;
  }

  .buttonLarge {
    width: 95vw;
    height: 8vh;
    border-radius: 16px;
    padding: 12px 24px;
    margin-top: 2vh;
  }

  .buttonMedium {
    width: 45vw;
    height: 7vh;
    border-radius: 16px;
    padding: 12px 24px;
    margin-top: 2vh;
  }

  .buttonCard {
    width: 158px;
    height: 40px;
    border-radius: 16px;
    padding: 8px 24px;
    margin-top: 1vh;
    margin-left: 1.5vw;
  }
}

@media only screen and (max-width: 768px) {
  .buttonCard {
    width: 158px;
    height: 40px;
    border-radius: 16px;
    padding: 8px 24px;
    margin-top: 1vh;
    margin-left: 1.5vw;
  }
}
