.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 16px;
  gap: 8px;
  border-radius: 12px;
  height: 48px;
}

.primary {
  background: #7126b5;
}

.outline {
  background: #ffffff;
  color: #7126b5;
  border: 1px solid #7126b5;
}

.buttonLarge {
  width: 40vw;
  height: 6vh;
  border-radius: 16px;
  padding: 12px 24px;
  margin-top: 2vh;
}

.buttonMedium {
  width: 19vw;
  height: 7vh;
  border-radius: 16px;
  padding: 12px 24px;
  margin-top: 2vh;
  margin: 0 10px 0 10px;
}

.buttonMediumOutline {
  width: 19vw;
  height: 7vh;
  border-radius: 16px;
  padding: 12px 24px;
  margin-top: 2vh;
}

.buttonCard {
  width: 158px;
  height: 36px;
  border-radius: 16px;
  padding: 8px 24px;
  margin-top: 1vh;
  margin-left: 1.5vw;
}

.backButton {
  height: 50px;
  width: 50px;
  align-items: center;
  background-color: #ffffff;
  border: 0px;
  margin-right: 2vw;
  position: absolute;
}

@media only screen and (max-width: 992px) {
  .backButton {
    display: none;
  }

  .buttonLarge {
    width: 95vw;
    height: 7vh;
    border-radius: 16px;
    padding: 12px 24px;
    margin-top: 2vh;
  }

  .buttonMedium {
    width: 45vw;
    height: 7vh;
    border-radius: 16px;
    padding: 12px 24px;
    margin-top: 2vh;
  }

  .buttonCard {
    width: 158px;
    height: 36px;
    border-radius: 16px;
    padding: 8px 24px;
    margin-top: 1vh;
    margin-left: 1.5vw;
  }
}

@media only screen and (max-width: 768px) {
  .buttonCard {
    width: 158px;
    height: 36px;
    border-radius: 16px;
    padding: 8px 24px;
    margin-top: 1vh;
    margin-left: 1.5vw;
  }
}