.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 16px;
  gap: 8px;
  border-radius: 12px;
  height: 48px;
  border: none;
  box-shadow: none !important;
}

.btn-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 16px;
  gap: 8px;
  border-radius: 12px;
  height: 48px;
  color: #7126b5;
  border: none;
  box-shadow: none !important;
}

.btn:active {
  background: #7126b5;
  border: none;
  box-shadow: none;
}
.btn:hover {
  background: #7126b5;
  border: none;
  box-shadow: none;
}
.btn:focus {
  background: #7126b5;
  border: none;
  box-shadow: none;
}
.btn:checked {
  border: none;
  box-shadow: none;
}
/* .btn: */

.btn-check:active {
  background: #7126b5;
}

.primary {
  /* color: #7126b5; */
  background: #7126b5;
}

.light {
  color: #7126b5;
  background: #e2d4f0;
}

.buttonLarge {
  width: 40vw;
  height: 6vh;
  border-radius: 16px;
  padding: 12px 24px;
  margin-top: 2vh;
}

.backButton {
  height: 50px;
  width: 50px;
  align-items: center;
  background-color: #ffffff;
  border: 0px;
}

@media only screen and (max-width: 992px) {
  .backButton {
    display: none;
  }

  .buttonLarge {
    width: 95vw;
    height: 7vh;
    border-radius: 16px;
    padding: 12px 24px;
    margin-top: 2vh;
  }
}
