.bagianKiri {
  display: flex;
  justify-content: flex-end;
  margin-top: 6vh;
}

.bagianKanan {
  display: flex;
  justify-content: flex-start;
  margin-top: 4vh;
}

.bagianKananProduk {
  display: flex;
  justify-content: flex-start;
  margin-top: 7vh;
}

.bagianKananPenawar {
  display: flex;
  justify-content: flex-start;
  margin-top: 7vh;
}

.row {
  width: 125vw;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 992px) {
  .bagianKanan {
    display: flex;
    justify-content: flex-start;
    margin-left: 4vw;
    margin-top: 0;
  }

  .bagianKananProduk {
    display: flex;
    justify-content: flex-start;
    margin-left: 4vw;
    margin-top: 7vh;
  }

  .bagianKananPenawar {
    display: flex;
    justify-content: flex-start;
    margin-left: 6.5vw;
    margin-top: 7vh;
  }

  .bagianKiri {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
  }
}