html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  height: 100vh;

  font-family: 'Poppins', sans-serif;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ae76e2;
  border-radius: 20px;
}
