html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  height: 100vh;

  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
