.bagianKiri {
  display: flex;
  justify-content: flex-start;
  margin-top: 6vh;
}

.bagianKanan {
  margin-top: 4vh;
  padding-left: 0;
  width: 40vw;
}

.bagianKananProduk {
  display: flex;
  justify-content: flex-start;
  margin-top: 5vh;
}

.bagianKananPenawar {
  display: flex;
  justify-content: center;
  margin-top: 7vh;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btnInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnProduk {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-around;
}

.imagePreviewProduk {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: auto;
  overflow-y: auto;
}

@media only screen and (max-width: 992px) {
  .bagianKanan {
    width: 90vw;
  }

  .bagianKananProduk {
    display: flex;
    justify-content: flex-start;
    margin-top: 7vh;
  }

  .bagianKananPenawar {
    display: flex;
    justify-content: flex-start;
    margin-top: 7vh;
  }

  .bagianKiri {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
  }

  .row {
    display: flex;
    flex-direction: row;
    height: 92vh;
  }
}

@media only screen and (max-width: 576px) {
  .bagianKananPenawar {
    display: flex;
    justify-content: flex-start;
    margin-top: 4vh;
  }
}
