.image-container {
  position: relative;
  text-align: center;
  color: white;
}

.image-text {
  color: white;
  position: absolute;
  width: 100px;
  margin-left: 50px;
  top: 45%;
  left: 16px;
  font-size: 40px;
  font-weight: 700;
}

.text-primary {
  color: #7126b5;
}

.text-redirect {
  font-size: 14px;
  display: flex;
  justify-content: center;
}
