.all_page {
  margin: 0;
  padding: 0;
}
.col {
  justify-content: center;
  padding: 2%;
  margin: 2%;
}
.btnlogin {
  background-color: #7126b5;
  padding-inline: 300px;
  border-radius: 15px;
}
.info_product {
  padding: 2%;
  margin: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
