.all_page {
  margin: 0px;
  padding: 0px;
}
.leftcol1 {
  padding-left: 150px;
}
.carousel {
  padding-top: 3%;
  margin-top: 3%;
}
.leftcol2 {
  margin-top: 30px;
  padding-right: 650px;
  padding-left: 140px;
}
.rightcol1 {
  padding-right: 100px;
  padding-left: 50px;
  padding-top: 2%;
}
.borderbox {
  padding: 2%;
  margin: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 16px;
  padding-left: 20px;
  width: 100%;
}
.btnbuyer {
  background-color: #7126b5;
  padding-inline: 215px;
  border-radius: 15px;
  width: 100%;
}
.btnseller1 {
  background-color: #7126b5;
  padding-inline: 190px;
  border-radius: 15px;
  width: 100%;
}
.btnseller2 {
  background-color: #7126b5;
  padding-inline: 213px;
  border-radius: 15px;
  width: 100%;
}
.h5 {
  padding-left: 15px;
  padding-top: 15px;
  display: inline-flex;
  position: absolute;
}
.p1 {
  color: #8a8a8a;
  display: inline;
  margin-left: 16px;
  position: absolute;
  padding-top: 45px;
}
.p2 {
  color: #8a8a8a;
}

/* AWAL NAVBAR SEARCH */
.btnsearch {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
.iconsearch {
  width: 24px;
  height: 24px;
  color: #8a8a8a;
  align-items: center;
}
.search {
  display: flex;
  margin-left: 24px;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  gap: 16px;
  width: 444px;
  height: 48px;
  left: 260px;
  top: 18px;
  background: #eeeeee;
  border-radius: 16px;
  border: none;
}
.formsearch {
  background: transparent;
  flex: 1;
  border: none;
  outline: none;
  box-shadow: none;
}
.formsearch:hover {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  color: #8a8a8a;
}
/* AKHIR NAVBAR SEARCH */

/* Responsive Design Mobile */

/* untuk layar device berukuran SANGAT BESAR */
@media screen and (max-width: 1000px) {
  .leftcol1 {
    padding-left: 10px;
  }
  .btnbuyer {
    background-color: #7126b5;
    padding-inline: 320px;
    border-radius: 15px;
    width: 100%;
  }
  .rightcol1 {
    position: absolute;
    padding-left: 2%;
    padding-right: 5%;
    padding-top: 97%;
  }
  .leftcol2 {
    padding-top: 510px;
    padding-left: 2%;
    padding-right: 5%;
  }
  .search {
    width: 90%;
    padding-left: -2%;
    padding-left: 2%;
  }
}

/* untuk layar device berukuran BESAR */
@media screen and (max-width: 700px) {
  .leftcol1 {
    padding-left: 10px;
  }
  .btnbuyer {
    background-color: #7126b5;
    padding-inline: 220px;
    border-radius: 15px;
    width: 100%;
  }
  .rightcol1 {
    position: absolute;
    padding-left: 2%;
    padding-right: 5%;
    padding-top: 97%;
  }
  .leftcol2 {
    padding-top: 480px;
    padding-left: 2%;
    padding-right: 5%;
  }
}
/* untuk layar device berukuran SEDANG */
@media screen and (max-width: 550px) {
  .leftcol1 {
    padding-left: 10px;
  }
  .btnbuyer {
    background-color: #7126b5;
    padding-inline: 220px;
    border-radius: 15px;
    width: 100%;
  }
  .btnseller2 {
    background-color: #7126b5;
    padding-inline: 120px;
    border-radius: 15px;
    width: 100%;
  }
  .rightcol1 {
    position: absolute;
    padding-left: 2%;
    padding-right: 5%;
    padding-top: 97%;
  }
  .leftcol2 {
    padding-top: 460px;
    padding-left: 2%;
    padding-right: 5%;
  }
}

/* untuk layar device berukuran KECIL */
@media screen and (max-width: 450px) {
  .leftcol1 {
    padding-left: 10px;
  }
  .btnbuyer {
    background-color: #7126b5;
    padding-inline: 120px;
    border-radius: 15px;
    width: 100%;
  }
  .btnseller1 {
    background-color: #7126b5;
    padding-inline: 120px;
    border-radius: 15px;
    width: 100%;
  }
  .rightcol1 {
    position: absolute;
    padding-left: 2%;
    padding-right: 5%;
    padding-top: 97%;
  }
  .leftcol2 {
    padding-top: 430px;
    padding-left: 2%;
    padding-right: 5%;
  }
}
