.category-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;

  background: #ffffff;
  width: 268px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.icon {
  width: 16px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.border-container:last-child {
  display: none;
}
