.formField {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .formField {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
  }
}
