.formField {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonFile {
  display: flex;
  margin-bottom: 10px;
}

.buttonSubmit {
  width: 60vw;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 992px) {
  .formField {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 81vh;
  }

  .buttonSubmit {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 18vh;
  }
}
