.card {
  width: 35vw;
  height: min-content;
  padding: 16px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  margin-left: 1.5vw;
}

.leftContent {
  width: 64px;
}

.rightContent {
  padding-left: 0%;
  margin-top: 1vh;
  width: 30.5vw;
}

.title {
  display: flex;
  flex-direction: row;
  width: auto;
}

.cardNoBorder {
  width: 90vw;
  height: min-content;
  background: #FFFFFF;
  margin-top: 3vh;
  border: none;
  display: flex;
  flex-direction: row;
  margin-left: 1.5vw;
}

.foto {
  width: 48px;
  height: 48px;
  border-radius: 12px;
}

.boldText {
  font-weight: bold;
  font-size: 14px;
}

.mediumText {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.smallText {
  font-weight: 400;
  font-size: 12px;
  line-height: 0px;
  width: 15vw;
}

.smallTime {
  font-weight: 400;
  font-size: 12px;
  line-height: 0px;
  width: 23.2vw;
  display: flex;
  justify-content: flex-end;
}

.button {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 1200px) {
  .card {
    width: 45vw;
    height: min-content;
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
  }
  
  .cardNoBorder {
    width: 90vw;
    height: min-content;
    background: #FFFFFF;
    margin-top: 3vh;
  }

  .rightContent {
    padding-left: 0%;
    margin-top: 1vh;
    width: 39.5vw;
  }

  .smallTime {
    width: 28vw;
  }
}

@media only screen and (max-width: 992px) {
  .card {
    width: 90vw;
    height: min-content;
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
  }
  
  .cardNoBorder {
    width: 90vw;
    height: min-content;
    background: #FFFFFF;
    margin-top: 3vh;
  }

  .rightContent {
    padding-left: 0%;
    margin-top: 1vh;
    width: 81vw;
  }

  .smallTime {
    width: 70vw;
  }
  
  .smallText {
    width: 20vw;
  }
}

@media only screen and (max-width: 768px) {
  .button {
    display: flex;
    justify-content: flex-end;
    margin-top: 3vh;
  }

  .rightContent {
    padding-left: 0%;
    margin-top: 1vh;
    width: 80vw;
  }

  .smallTime {
    width: 70vw;
  }

  .smallText {
    width: 30vw;
  }
}