.input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input-label {
  font-size: 12px;
}

.input-field {
  padding: 12px 16px;
  border: 1px solid #d0d0d0;
  border-radius: 16px;
  font-size: 14px;
}

.input-error {
  font-size: 12px !important;
  color: red;
}

.fileInput {
  width: 96px;
  height: 96px;
  background: #e2d4f0;
  border-radius: 12px;
}

.fileInputOutline {
  width: 96px;
  height: 96px;
  border-radius: 12px;
  border: 1px dashed #7126b5;
  background: white;
}

.iconBtn {
  opacity: 0;
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: -60px;
}

.icon {
  margin-top: 32px;
  margin-left: 32px;
}
