.input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input-label {
  font-size: 12px;
}

.input-field {
  padding: 12px 16px;
  border: 1px solid #d0d0d0;
  border-radius: 16px;
  font-size: 14px;
}

.input-error {
  font-size: 12px !important;
}
