.container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 16px;
  border-bottom: 1px solid #e5e5e5;
}

.image {
  width: 48px;
  height: 48px;
  border-radius: 12px;
}

.desc {
  font-weight: 400;
  font-size: 10px;
  color: #8a8a8a;
}

.body {
  font-weight: 400;
  font-size: 14px;
}
