.judulModal {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 10px;
}

.judulCard {
  font-weight: 500;
  font-size: 16px;
  padding: 10px 0 10px 0;
  text-align: center;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.modal {
  width: 400px;
  border-radius: 16px;
  padding: 16px;
}

.content {
  background: #eeeeee;
  border-radius: 16px;
}

.leftContent {
  width: 64px;
  display: flex;
  margin-bottom: 5px;
}

.foto {
  width: 48px;
  height: 48px;
  border-radius: 12px;
}

.card {
  width: 22.5vw;
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 16px;
}

.boldText {
  font-weight: bold;
  font-size: 14px;
}

.mediumText {
  font-weight: 500;
  line-height: 14px;
  font-size: 14px;
  margin-bottom: 10px;
}

.smallText {
  font-weight: 400;
  font-size: 12px;
  line-height: 0px;
}

.radioForm {
  margin-bottom: 20px;
}
