.judulModal {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 10px;
}

.judulCard {
  font-weight: 500;
  font-size: 16px;
  padding: 10px 0 10px 0;
  text-align: center;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.modal {
  width: 350px;
  border-radius: 16px;
  padding: 16px;
}

.content {
  background: #eeeeee;
  border-radius: 16px;
}

.leftContent {
  width: 64px;
  display: flex;
  margin-bottom: 5px;
}

.foto {
  width: 48px;
  height: 48px;
  border-radius: 12px;
}

.card {
  width: auto;
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 16px;
}

.boldText {
  font-weight: bold;
  font-size: 14px;
}

.mediumText {
  font-weight: 500;
  line-height: 14px;
  font-size: 14px;
  margin-bottom: 10px;
}

.smallText {
  font-weight: 400;
  font-size: 12px;
}

.radioForm {
  margin-bottom: 20px;
}

/* Card */
.normalCard {
  width: auto;
  height: max-content;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px 15px 20px 15px;
}

.normalBold {
  font-weight: 600;
  font-size: 14px;
}

.normal {
  font-weight: 300;
  font-size: 14px;
}
