.formInput {
  width: 40vw;
  height: 6vh;
  border: 1px solid #d0d0d0;
  border-radius: 14px;
  padding-left: 1vw;
}

.fileInput {
  display: none;
}

.error {
  color: red;
}

.buttonFile {
  background: #e2d4f0;
  border-radius: 12px;
  width: 96px;
  height: 96px;
  margin-top: 1vh;
}

.buttonFileOutline {
  background: #ffffff;
  border-radius: 12px;
  border: 1px dashed #d0d0d0;
  width: 96px;
  height: 96px;
  margin-top: 1vh;
}

.teksModal {
  font-weight: 400;
  font-size: 14px;
  color: #8a8a8a;
  margin-left: 1.55rem;
  margin-bottom: 10px;
}

@media only screen and (max-width: 992px) {
  .formInput {
    width: 95vw;
    height: 8vh;
    padding-left: 2vw;
    border: 1px solid #d0d0d0;
    border-radius: 14px;
  }
}
