.formInput {
  width: 40vw;
  height: 6vh;
  border: 1px solid #D0D0D0;
  border-radius: 14px;
  padding-left: 1vw;
}

.fileInput {
  display: none;
}

.error {
  color: red;
}

.buttonFile {
  background: #E2D4F0;
  border-radius: 12px;
  width: 96px;
  height: 96px;
  margin-top: 1vh;
}

.buttonFileOutline {
  background: #ffffff;
  border-radius: 12px;
  border: 1px dashed #D0D0D0;
  width: 96px;
  height: 96px;
  margin-top: 1vh;
}


@media only screen and (max-width: 992px) {
  .formInput {
    width: 95vw;
    height: 6vh;
    border: 1px solid #D0D0D0;
    border-radius: 14px;
  }
}